<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/dimeciones.css">
    <link rel="stylesheet" href="./styles/style--font.css">
    <link rel="stylesheet" href="./styles/index.css">
    <title>Document</title>
</head>
<div class="img-s-logi">
    <div>
        <img class="img-logi-ss" src="./img-objects--.png" alt="">
    </div>
    <div>
        <p class="p-r-text-y">Bushes</p>
    </div>
</div>
<div class="center">

    <div class="box-implemet-content">
        <div class="center space---">
            <h1 class="in-in-lenght">Bushes</h1>
        </div>
        <h1 class="text-space--">Agregar amigo</h1>
        
        <form action="/addF" method="post">
            <p class="p-p-drive">Nombre de usuario</p>
            <input class="drive-input-space" type="text" name="user" required>
            <p class="p-p-drive">Correo electronico</p>
            <input class="drive-input-space" type="email" name="mail" required>

            <div class="center">
                <input class="btn-inherit--" type="submit" value="Agregar">
            </div>

            <div class="center">
                <a class="space-dow-text---" href="/interface">Volver</a>

            </div>
        </form>
    </div>

</div>
<body>
    
</body>
</html>