<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/dimeciones.css">
    <title>Document</title>
</head>
<body>
    <div class="img-s-logi">
        <div>
            <img class="img-logi-ss" src="./img-objects--.png" alt="">
        </div>
        <div>
            <p class="p-r-text-y">Bushes</p>
        </div>
    </div>
    <div class="center">

        <div class="box-implemet-content">
            <div class="center space---">
                <h1 class="in-in-lenght">Bushes</h1>
            </div>
            <h1 class="text-space--">Crear usuario</h1>

            <form action="/register" method="post">
                <p class="p-p-drive">Nombre de usuario</p>
                <input class="drive-input-space" type="text" name="user" required placeholder="Nombre de usuario">
                <p class="p-p-drive">Email</p>
                <input class="drive-input-space" type="email" name="email" required placeholder="Correo electronico">
                <p class="p-p-drive">Contraseña</p>
                <input class="drive-input-space" type="password" name="pass"  required placeholder="Solo numeros">

                <div class="center">
                    <input class="btn-inherit--" type="submit" value="Register">
                </div>

                <div class="center">
                <a class="space-dow-text---" href="/login">Ya tengo una cuenta</a>

                </div>
            </form>
        </div>


    </div>
</body>
</html>