<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <title>Home</title>
</head>
<body>
    <div class="img-s-logi">
        <div>
            <img class="img-logi-ss" src="./bushhp`-img.png" alt="">
        </div>
        <div>
            <p class="p-r-text-y">Bushes</p>
        </div>
    </div>
    <div>
        <p>Pagina creada por CEO de bushop Sergio Quezel</p>
        <p>Para poder crear una cuenta precioanr el boton</p>
        <a class="sub-btn-btn--" href="/init">Crear cuenta</a>
    </div>
</body>
</html>