<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <title>Document</title>
</head>
<body>
    <div class="img-s-logi">
        <div>
            <img class="img-logi-ss" src="./img-objects--.png" alt="">
        </div>
        <div>
            <p class="p-r-text-y">Bushes</p>
        </div>
    </div>
    <div class="center">

        <div class="box-implemet-content">
            <div class="center space---">
                <h1 class="in-in-lenght">Bushes</h1>
            </div>
            <h1 class="text-space--">Iniciar cesion</h1>
            
            <form action="/loginSpace" method="post">
                <p class="p-p-drive">Nombre de usuario</p>
                <input class="drive-input-space" type="text" name="user" required>
                <p class="p-p-drive">Contraseña</p>
                <input class="drive-input-space" type="password" name="pass" required>

                <div class="center">
                    <input class="btn-inherit--" type="submit" value="Iniciar">
                </div>

                <div class="center">
                    <a class="space-dow-text---" href="/init">Registrarme</a>

                </div>
            </form>
        </div>

    </div>
</body>
</html>